<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>武汉</string>
		<key>id</key>
		<string>101200101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北京</string>
		<key>id</key>
		<string>101010100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海</string>
		<key>id</key>
		<string>101020300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天津</string>
		<key>id</key>
		<string>101030100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>重庆</string>
		<key>id</key>
		<string>101040100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哈尔滨</string>
		<key>id</key>
		<string>101050101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长春</string>
		<key>id</key>
		<string>101060101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沈阳</string>
		<key>id</key>
		<string>101070101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>呼和浩特</string>
		<key>id</key>
		<string>101080101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>石家庄</string>
		<key>id</key>
		<string>101090101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太原</string>
		<key>id</key>
		<string>101100101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>济南</string>
		<key>id</key>
		<string>101120101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乌鲁木齐</string>
		<key>id</key>
		<string>101130101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拉萨</string>
		<key>id</key>
		<string>101140101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>银川</string>
		<key>id</key>
		<string>101170101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>郑州</string>
		<key>id</key>
		<string>101180101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南京</string>
		<key>id</key>
		<string>101190101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杭州</string>
		<key>id</key>
		<string>101210101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>合肥</string>
		<key>id</key>
		<string>101220101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福州</string>
		<key>id</key>
		<string>101230101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南昌</string>
		<key>id</key>
		<string>101240101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长沙</string>
		<key>id</key>
		<string>101250101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>贵阳</string>
		<key>id</key>
		<string>101260101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>成都</string>
		<key>id</key>
		<string>101270101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广州</string>
		<key>id</key>
		<string>101280101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>昆明</string>
		<key>id</key>
		<string>101290101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南宁</string>
		<key>id</key>
		<string>101300101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海口</string>
		<key>id</key>
		<string>101310101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香港</string>
		<key>id</key>
		<string>101320101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>澳门</string>
		<key>id</key>
		<string>101330101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>台北</string>
		<key>id</key>
		<string>101340101</string>
	</dict>
</array>
</plist>
